<!DOCTYPE html>
<html>
<head>
	<title>Consent</title>
</head>
<%- include partials/scripts.ejs %>
<body>

	<% if (locals && locals.application_name) { %>
		<h1><%= application_name %> is requesting access to the following scopes</h1>
	<% } %>
	<% for (var i = 0; i < scope.length; i += 1) { %>
		<li><%= scope[i] %></li>
	<% } %>

	<button id='allow'>Allow</button>
	<button id='deny'>Deny</button>

	<script type="text/javascript">
		
		window.redirect_url = <%- locals && locals.redirect_url ? JSON.stringify(redirect_url) : JSON.stringify('') %>;
		window.client = <%- locals && locals.client ? JSON.stringify(client) : JSON.stringify('') %>;
	</script>
	<script type="text/javascript" src='/js/global.js'></script>
	<script type="text/javascript">
	(function () {


		
		const allow = document.getElementById('allow');

		allow.addEventListener('click', () => {
			// post to oauth/authorize

			authorizeService(true).then(function(response) {
				console.log(response)
				if (response && response.redirect_url) {
					window.location.replace(response.redirect_url)
				}
			}).catch(function(err) {
				// Error :(
			})
		}, false);

		const deny = document.getElementById('deny');

		deny.addEventListener('click', () => {
			authorizeService(false).then(function(response) {
				console.log(response)
				if (response && response.redirect_url) {
					window.location.replace(response.redirect_url)
				}
			}).catch(function(err) {
				// Error :(
			})
		}, false);

		function authorizeService(isAuthorized) {

			const accessToken = window.localStorage.access_token;
			const refreshToken = window.localStorage.refresh_token;

			return fetch('/oauth2/authorize', {
				method: 'POST',
				headers: {
	     			'Authorization': 'Bearer ' + accessToken, 
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					client: window.client,
					isAuthorized: isAuthorized
				})

			}).then(function(response) {
				return response.json()
			})
		}
		// Add window on beforeunload
	})()
	</script>
</body>
</html>